.cursor-pointer { cursor: pointer; }

.table-row-hover:hover { background-color: rgba(0,0,0,.04); cursor: pointer; }

// in your items page component
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%;
}
