<div class="data-grid">
  @if (title() || searchable() || toolbarTemplate()) {
    <div class="data-grid__head">
      @if (title()) {
        <span class="data-grid__title">{{ title() }}</span>
      }

      <div class="data-grid__head-actions">
        <ng-container *ngTemplateOutlet="toolbarTemplate()"></ng-container>

        @if (searchable()) {
          <mat-form-field appearance="outline" class="search-field" subscriptSizing="dynamic">
            <mat-icon matPrefix svgIcon="magnify"></mat-icon>
            <input matInput [(ngModel)]="searchQuery" placeholder="Suchen …" />
            @if (searchQuery()) {
              <button matSuffix mat-icon-button (click)="searchQuery.set('')">
                <mat-icon svgIcon="close"></mat-icon>
              </button>
            }
          </mat-form-field>
        }
      </div>
    </div>
  }

  <div class="data-grid__wrapper">
    <div class="data-grid__header">
      <table class="grid-table">
        <colgroup>
          @for (col of columns(); track col.key) {
            <col [style.width]="col.width ?? 'auto'" />
          }
          @if (actionCellDirective) {
            <col class="col-actions" />
          }
        </colgroup>
        <thead>
          <tr>
            @for (col of columns(); track col.key) {
              <th [class]="'grid-th ' + headerClass(col)">{{ col.label }}</th>
            }
            @if (actionCellDirective) {
              <th class="grid-th col-actions"></th>
            }
          </tr>
        </thead>
      </table>
    </div>

    <div class="data-grid__body">
      @if (filteredData().length === 0) {
        <div class="grid-empty">
          <mat-icon svgIcon="tray"></mat-icon>
          <span>Keine Einträge</span>
        </div>
      } @else {
        <table class="grid-table">
          <colgroup>
            @for (col of columns(); track col.key) {
              <col [style.width]="col.width ?? 'auto'" />
            }
            @if (actionCellDirective) {
              <col class="col-actions" />
            }
          </colgroup>
          <tbody>
            @for (row of filteredData(); track row) {
              <tr class="grid-row">
                @for (col of columns(); track col.key) {
                  <td [class]="'grid-td ' + cellClass(col)">
                    @if (col.cellTemplate) {
                      <ng-container
                        *ngTemplateOutlet="
                          col.cellTemplate;
                          context: {
                            $implicit: row,
                            value: col.value ? col.value(row) : row[col.key],
                          }
                        "
                      />
                    } @else {
                      {{ col.value ? col.value(row) : row[col.key] }}
                    }
                  </td>
                }
                @if (actionCellDirective) {
                  <td class="grid-td col-actions">
                    <ng-container
                      *ngTemplateOutlet="
                        actionCellDirective.templateRef;
                        context: { $implicit: row }
                      "
                    />
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
</div>
