<div class="container-fluid p-4">
  <app-page-header
    [title]="'Lager'"
    [subtitle]="'Aktueller Bestand aller Artikel.'"
  >
    <button mat-flat-button class="d-flex" (click)="openStockUpdate()">
      <mat-icon svgIcon="clipboard-list" class="d-flex"></mat-icon>
      <span>Bestand aktualisieren</span>
    </button>
  </app-page-header>

  <app-data-grid
    [title]="'Bestand'"
    [columns]="columns()"
    [data]="rows()"
    [searchable]="true"
    [searchKeys]="['name']"
  >
  </app-data-grid>

</div>

<ng-template #stockTemplate let-row let-stock="value">
  <span class="pill" [class.pill--danger]="stock <= row.threshold">{{ stock }}</span>
</ng-template>
