<h2 mat-dialog-title>{{ title }}</h2>

<mat-dialog-content class="pt-2">
  <div class="d-flex flex-column gap-3">

    <div class="row g-3">
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100" subscriptSizing="dynamic">
          <mat-label>Full Name</mat-label>
          <input matInput [(ngModel)]="userName" [readonly]="isView" required />
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="w-100" subscriptSizing="dynamic">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" [readonly]="isView" required/>
        </mat-form-field>
      </div>
    </div>

    @if (isAdd) {
      <mat-slide-toggle [(ngModel)]="require2Fa">Requires 2Fa</mat-slide-toggle>
    }

    <mat-divider />
    <p class="text-muted small fw-medium mb-1">Roles</p>

    @if (!isView) {
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Roles</mat-label>
        <mat-select multiple [(ngModel)]="userRoles">
          @for (r of availableRoles(); track r.id) {
            <mat-option [value]="r.id" >
              {{ r.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">
    {{ isView ? 'Close' : 'Cancel' }}
  </button>
  @if (!isView) {
    <button mat-raised-button color="primary" (click)="save()"
            [disabled]="!userName() || loading()">
      {{ isAdd ? 'Send Invite' : 'Save Changes' }}
    </button>
  }
</mat-dialog-actions>
