<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
               [fixedInViewport]="isMobile()" [opened]="true"
               [style.width]="collapsed() ? '56px' : '260px'"
               [class.collapsed]="collapsed()"
               class="sidenav">

    <div class="sidenav-header">
      <div class="logo-icon">
        <mat-icon>grid_view</mat-icon>
      </div>
      @if (!collapsed()) {
        <div class="org-info">
          <span class="org-name">FachschaftERP</span>
          <span class="org-subtitle">Inventory &amp; Sales</span>
        </div>
      }
      <button mat-icon-button class="collapse-btn" (click)="toggleCollapse()"
              [matTooltip]="collapsed() ? 'Expand' : 'Collapse'"
              matTooltipPosition="right">
        <mat-icon>{{ collapsed() ? 'last_page' : 'first_page' }}</mat-icon>
      </button>
    </div>

    <mat-nav-list class="nav-list">

      <div class="nav-section">
        @if (!collapsed()) {
          <span class="section-label">Navigation</span>
        }
        @for (item of navItems(); track item.route) {
          <a mat-list-item
             [routerLink]="item.route"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: item.route === '/' }"
             (click)="isMobile() && snav.close()"
             class="nav-item"
             [matTooltip]="collapsed() ? item.label : ''"
             matTooltipPosition="right">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            @if (!collapsed()) {
              <span matListItemTitle>{{ item.label }}</span>
            }
          </a>
        }
      </div>

      <div class="nav-section">
        @if (!collapsed()) {
          <span class="section-label">Configuration</span>
        }
        @for (item of configItems(); track item.route) {
          <a mat-list-item
             [routerLink]="item.route"
             routerLinkActive="active"
             (click)="isMobile() && snav.close()"
             class="nav-item"
             [matTooltip]="collapsed() ? item.label : ''"
             matTooltipPosition="right">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            @if (!collapsed()) {
              <span matListItemTitle>{{ item.label }}</span>
            }
          </a>
        }
      </div>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content
    #content
    class="sidenav-content"
    [class.collapsed]="collapsed()"
  >
    <div class="content-wrapper">
      @if (isMobile()) {
        <mat-toolbar class="toolbar">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
      }

      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
